{% extends 'base.html' %}

{% block content %}
  <div class="spacer">
  </div>
  <h3>Описание работы</h3>
  <article class = "main">
    <style>
      p {
        color: black;
        margin-top: 50px;
        margin-left: 80px;
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 28px;
      }
      </style>
    <p>Я скачала данные с итальянского новостного портала <bold>La Nazione</bold> и внесла их в базу данных.
    На этом веб-сервисе (на странице "Графики") можно посмотреть результаты работы с полученной базой данных.</p>
    </article>

  <div class="spacer-bottom">
  </div>
{% endblock %}